*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 0px;
    font-family: 'Roboto', sans-serif;
}

body{
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer'
    ;
    height: 100vh;

}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


header{
    grid-area: header;
    padding: 10px;
    background-color: rgb(0, 98, 255);
    color: #fff;
    height: 60px;
    
}


.buscador{
    background-color: rgb(23, 243, 56);
    width: 100%;
}

main{
    grid-area: main;
    padding: 10px;
    color: #fff;
}

.paginador{
    background-color: rgb(243, 133, 23);
}

footer{
    grid-area: footer;
    padding: 10px;
    background-color: rgb(255, 0, 64);
    color: #fff;
}




@media (min-width: 992px){
    body{
        grid-template-columns: 300px auto;
        grid-template-areas:
        "header main main main"
        "footer main main main"
        ;
    
    }
}
